<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__ADMINCSS__/base.css" />
<link rel="stylesheet" type="text/css" href="__ADMINCSS__/jquery.dialog.css" />
<link rel="stylesheet" href="__ADMINCSS__/index.css" />
<!-- <script src="__COMMON__/Lobibox/lib/jquery.1.11.min.js"></script>
<script src="__COMMON__/Lobibox/js/Lobibox.js"></script>
<link rel="stylesheet" href="__COMMON__/Lobibox/font-awesome/css/font-awesome.min.css"/>
<link rel="stylesheet" href="__COMMON__/Lobibox/dist/css/Lobibox.min.css"/> -->
<title>移动办公自动化系统</title>
</head>

<body>
<div id="container">
  <div id="hd">
    <div class="hd-wrap ue-clear">
      <div class="top-light"></div>
      <h1 class="logo"></h1>
      <div class="login-info ue-clear">
        <div class="welcome ue-clear" style="width:150px"><span>欢迎您,</span><a href="javascript:;" class="user-name">{$Think.session.unickname}</a></div>
        <div class="login-msg ue-clear"> 
        <a href="javascript:;" class="msg-txt" style="width:56px">未读邮件</a>
        <a href="javascript:;" class="msg-num">{$count}</a> </div>
      </div>
      <div class="toolbar ue-clear">
        <a href="{:u('Main/index')}" class="home-btn" >首页</a>
        <a href="javascript:;" class="quit-btn exit"></a>
      </div>
     </div>
  </div>
  <div id="bd">
    <div class="wrap ue-clear">
      <div class="sidebar">
        <h2 class="sidebar-header">
          <p>功能导航</p>
        </h2>
        <ul class="nav">

            <li class="office current">
              <div class="nav-header">
  				<a href="javascript:;" date-src="home.html" class="ue-clear">
  				<span>日常办公</span><i class="icon"></i>
  				</a>
  			</div>
            </li>

          <li class="gongwen">
            <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>公文起草</span><i class="icon"></i></a></div>
          </li>

          <li class="nav-info">
            <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>导航信息管理</span><i class="icon"></i></a></div>
            <!--子级菜单-->
            <ul class="subnav">
              <li><a href="javascript:;" date-src="info-reg.html">信息录入</a></li>
              <li><a href="javascript:;" date-src="info-mgt.html">信息管理</a></li>
              <li><a href="javascript:;" date-src="info-det.html">领导值岗管理</a></li>
              <li><a href="javascript:;">中层领导管理</a></li>
              <li><a href="javascript:;">领导值班记录</a></li>
            </ul>
          </li>

          <!--父级菜单-->
          <li class="konwledge">
            <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>知识管理</span><i class="icon"></i></a></div>
          </li>

          <li class="agency">
            <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>组织结构</span><i class="icon"></i></a></div>
            <ul class="subnav">
               <li><a href="javascript:;" date-src="{:u('Dept/index')}">部门列表</a></li>
               <li><a href="javascript:;" date-src="{:u('Dept/add')}">添加部门</a></li>
            </ul>
          </li>

          <li class="email">
            <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>邮件管理</span><i class="icon"></i></a></div>
            <ul class="subnav">
               <li><a href="javascript:;" date-src="{:u('Email/index')}">查看邮件</a></li>
               <li><a href="javascript:;" date-src="{:u('Email/add')}">发邮件</a></li>
           </ul>
          </li>

          <li class="system">
            <div class="nav-header"><a href="javascript:;" class="ue-clear"><span>系统管理</span><i class="icon"></i></a></div>
          </li>

        </ul>
      </div>
      <div class="content">
        <iframe src="{:U('home')}" id="iframe" width="100%" height="100%" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <div id="ft" class="ue-clear">
    <div class="ft-left"> <span>中国移动</span> <em>Office&nbsp;System</em> </div>
    <div class="ft-right"> <span>Automation</span> <em>V2.0&nbsp;2014</em> </div>
  </div>
</div>
<div class="exitDialog">
  <div class="dialog-content">
    <div class="ui-dialog-icon"></div>
    <div class="ui-dialog-text">
      <p class="dialog-content">你确定要退出系统？</p>
      <p class="tips">如果是请点击“确定”，否则点“取消”</p>
      <div class="buttons">
        <input type="button" class="button long2 ok" value="确定" />
        <input type="button" class="button long2 normal" value="取消" />
      </div>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="__ADMINJS__/jquery.js"></script>
<script type="text/javascript" src="__ADMINJS__/common.js"></script>
<script type="text/javascript" src="__ADMINJS__/core.js"></script>
<script type="text/javascript" src="__ADMINJS__/jquery.dialog.js"></script>
<script type="text/javascript" src="__ADMINJS__/index.js"></script>
<script type="text/javascript">
/*function getEmailNum(){
  $.ajax({
    'url':"{:U('getEmail')}",
    'type':'get',
    //如果使用get方式请求,设置为false,不进行缓存
    'cache':false,
    'dataType':'text',
    'async':true,
    'success':function(msg){
      //alert(msg);
      var new_num=msg;
      var old_num=$('.msg-num').html();
      //判断新邮件是否大于老邮件数量,如果大于则进行提示,并将新邮件数量写入到页面提示
      if(new_num > old_num){
        var num=new_num - old_num;
        Lobibox.notify('default',{
          title:'新邮件提醒',
          msg:'您收到'+num+'封新邮件,请注意查收'
        });
        $('.msg-num').html(new_num);
      }
    }
  });
}
//使用定时器,调用getEmailNum函数
setInterval('getEmailNum()',20000)*/
</script>
</html>
